{% extends "base.html" %}
{% block head_title %}My Cart{% endblock %}

{% block content %}

<ul>

    {% for product in products %}

    <div>

        <li>

            <h2>
                {{ product.title | capfirst }}
            </h2>
            <a href="{% url 'remove_from_cart' product_id=product.id %}">
                Remove from cart
            </a>

        </li>
    </div>

    {% empty %}

    <li>
        <p>No Products Yet.</p>
    </li>

    {% endfor %}

</ul>
<a class="clear" href="{% url 'remove_all_from_cart' %}">Clear cart</a>




<p>Total Price:{{ total_price }}</p>
{% endblock %}